# Configuration for PhotoGps Class

# Geo Tags
geo:
- GPSLatitudeRef    # 緯度基準（北緯 or 南緯）
- GPSLatitude       # 緯度数値（配列; 0:度/ 1:分/ 2:秒）
- GPSLongitudeRef   # 経度基準（東経 or 西経）
- GPSLongitude      # 経度数値（配列; 0:度/ 1:分/ 2:秒）

# Attribute Tags
altitude:
# - GPSAltitudeRef    # 高度基準（BYTE; 0:+楕円体高/ 1:-楕円体高/ 2:+海抜/ 3:-海抜）
- GPSAltitude       # 高度数値（m）

# Default Language
defaultLang: eng

# Initial Language
lang: eng

# Units for each language
units:

    # Language: English
    eng:
        degrees: '°'
        minutes: "'"
        seconds: '"'
        ref:
            N: N
            S: S
            E: E
            W: W
        format: "{degrees:v}{degrees:u}{minutes:v}{minutes:u}{seconds:v}{seconds:u}{ref:u}"
        altitude: m
        altitudeRef:
            # Default:
            exif:
                0: '(Above Sea Level)'
                1: '(Below Sea Level)'
                default: '(Above Sea Level)'
            # Exif Version 2.1
            exif0210:
                0: '(Above Sea Level)'
                default: '(Above Sea Level)'
            # Exif Version 2.2
            exif0220:
                0: '(Above Sea Level)'
                1: '(Below Sea Level)'
                default: '(Above Sea Level)'
            # Exif Version 2.21
            exif0221:
                0: '(Above Sea Level)'
                1: '(Below Sea Level)'
                default: '(Above Sea Level)'
            # Exif Version 2.3
            exif0230:
                0: '(Above Sea Level)'
                1: '(Below Sea Level)'
                default: '(Above Sea Level)'
            # Exif Version 2.31
            exif0231:
                0: '(Above Sea Level)'
                1: '(Below Sea Level)'
                default: '(Above Sea Level)'
            # Exif Version 2.32
            exif0232:
                0: '(Above Sea Level)'
                1: '(Below Sea Level)'
                default: '(Above Sea Level)'
            # Exif Version 3.0
            exif0300:
                0: '(Above Ellipsoidal Surface)'
                1: '(Below Ellipsoidal Surface)'
                2: '(Above Sea Level)'
                3: '(Below Sea Level)'
                default: '(Above Ellipsoidal Surface)'
        speed:
            K: km/h
            M: mph
            N: kt
            default: km/h

    # Language: Japanese
    ja:
        degrees: '度'
        minutes: '分'
        seconds: '秒'
        ref:
            N: '北緯'
            S: '南緯'
            E: '東経'
            W: '西経'
        format: "{ref:u}{degrees:v}{degrees:u}{minutes:v}{minutes:u}{seconds:v}{seconds:u}"
        altitude: 'メートル'
        altitudeRef:
            # Exif Version 2.1
            exif0210:
                0: '（正値海抜）'
                default: '（正値海抜）'
            # Exif Version 2.2
            exif0220:
                0: '（正値海抜）'
                1: '（負値海抜）'
                default: '（正値海抜）'
            # Exif Version 2.21
            exif0221:
                0: '（正値海抜）'
                1: '（負値海抜）'
                default: '（正値海抜）'
            # Exif Version 2.3
            exif0230:
                0: '（正値海抜）'
                1: '（負値海抜）'
                default: '（正値海抜）'
            # Exif Version 2.31
            exif0231:
                0: '（正値海抜）'
                1: '（負値海抜）'
                default: '（正値海抜）'
            # Exif Version 2.32
            exif0232:
                0: '（正値海抜）'
                1: '（負値海抜）'
                default: '（正値海抜）'
            # Exif Version 3.0
            exif0300:
                0: '（正値楕円体高）'
                1: '（負値楕円体高）'
                2: '（正値海抜）'
                3: '（負値海抜）'
                default: '（正値楕円体高）'
        speed:
            K: 'キロメートル／時'
            M: 'マイル／時'
            N: 'ノット'
            default: 'キロメートル／時'
