keys:
- GPSLatitudeRef    # 緯度基準（北緯 or 南緯）
- GPSLatitude       # 緯度数値（配列; 0:度/ 1:分/ 2:秒）
- GPSLongitudeRef   # 経度基準（東経 or 西経）
- GPSLongitude      # 経度数値（配列; 0:度/ 1:分/ 2:秒）
- GPSAltitude       # 高度数値（m）

lang: eng

coordUnits:
    eng:
        degrees: '°'
        minutes: "'"
        seconds: '"'
        ref:
            N: N
            S: S
            E: E
            W: W
        format: "{degrees:v}{degrees:u}{minutes:v}{minutes:u}{seconds:v}{seconds:u}{ref:u}"
    ja:
        degrees: '度'
        minutes: '分'
        seconds: '秒'
        ref:
            N: '北緯'
            S: '南緯'
            E: '東経'
            W: '西経'
        format: "{ref:u}{degrees:v}{degrees:u}{minutes:v}{minutes:u}{seconds:v}{seconds:u}"
